@font-face {
  font-family: 'digital-7';
  src: url('./fonts/digital-7.ttf');
}

* {
  margin: 0;
  padding: 0
}

body {
  color: rgb(251, 251, 251);
  background-color: rgb(16, 16, 16);
  font-family: 'digital-7', sans-serif;
  font-size: 150px;
  transition: background-color 2s;
}


#clock {
  position: fixed;
  top: 100px;
  left: 100px;
  text-align: center;
  float: left;
}

#clock-dup {
  position: fixed;
  top: 100px;
  left: 100px;
  z-index: -1;

  color: rgba(251, 251, 251, 0.1);
  text-align: center;
  float: left;
}

#colon {
  margin-left: -80px;
  margin-right: -80px;
  transition: color 1s
}

#colon-dup {
  margin-left: -80px;
  margin-right: -80px;
}